spring:
  application:
    name: store-service

  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: false
        highlight_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1
    validate-on-migrate: true
    clean-disabled: true

  data:
    elasticsearch:
      uris: ${ELASTICSEARCH_URIS:http://localhost:9200}

jwt:
  secret:
    key: ${JWT_SECRET_KEY}
    white-list:
      - /actuator/health
      - /error
      - /swagger-ui/**
      - /swagger-ui.html
      - /v3/api-docs/**
      - /v3/api-docs.yaml
      - /v3/api-docs.json
      - /api-docs/**
      - /swagger-resources/**
      - /webjars/**
      - /docs/**