server:
  port: 8080

spring:
  application:
    name: store-service

  # AWS Parameter Store에서 설정을 가져오도록 Spring Cloud AWS Config 설정
  config:
    import: optional:aws-parameterstore:/couponpop/prod/store-service/

# client:
#   coupon-service:
#     name: coupon-service
#     url: http://notification.couponpop.internal:8080

cloud:
  aws:
    region:
      static: ap-northeast-2
    stack:
      auto: false

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus